<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/productlist.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<div th:replace="header.html::header"></div>
<div th:replace="menu.html::menu"></div>


<div class="alert alert-success" th:if="${successMessage != null}">
    <p th:text="${successMessage}"></p>
</div>
<div class="alert alert-danger" th:if="${errorMessage != null}">
    <p th:text="${errorMessage}"></p>
</div>

<h1>Product List</h1>

<div class="product-preview-container" th:each="product : ${products}">
    <ul>
        <li><img class="product-image" th:src="@{${product.getImagePath()}}"/></li>
        <li>Code: <span th:utext="${product.getProductCode()}"></span></li>
        <li>Name: <span th:utext="${product.getName()}"></span></li>
        <li>Price: <span th:utext="${#numbers.formatCurrency(product.getPrice())}"></span></li>
        <li>
            <a th:href="@{/product/{productcode}(productcode=${product.getProductCode()})}">View</a>
        </li>
    </ul>
</div>

<div th:replace="footer.html::footer"></div>
</body>
</html>